*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;}
::selection{
	background-color: yellowgreen;
	color: grey;
}
body{
	background-image: url('main.png');
	overflow: none;
	background-repeat: no-repeat;
	background-size: 100% 100vh;

}
.site-header{
	display: inline-block;
	 width: 100%;
}
.img-b{
	display: inline-block;
	 margin-left: 37px;
    margin-top: 8px;
}
.left{
	float: right;
	margin-right: 380px;
    margin-top: 22px;
}
.left ul li{
	display: inline-block;
	text-transform: capitalize;
   	 width: 107px;
}
.left ul li a{
	text-decoration: none;
	color:black;
	font-size: 17px;
	padding: 3px 22px;
}
.btn{
	margin-left: 270px;
    width: 142px;
    border-radius: 16px;
    padding: 6px;
     font-size: 14px;
 color: #fff;
 border: none;
 background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
 border-radius: 10px;
        cursor: pointer;
}
section{
	display: inline;
}
.main{
	position: relative;
}
.middle{
	display: inline;
}
.middle img{
    height: 377px;
    width: 573px;
        margin-left: 850px;
      display: inline;
}
.midwr{
	float: left;
	display: inline-block;
	display: inline-block;
    position: absolute;
    left: 68px;
    bottom: -12px;
}
.midwr h1{
	font-size: 42px;
}
.midwr h4{
	margin-bottom: 6px;
	color: #5e5251;
}
.midwr h3{
	font-size:15px;
	margin-top: 6px;
	color: #966662;
}
.midwr ul{
	margin-top: 6px;
	color: #966662;
	margin-left: 30px;
}
.midwr h2{
	    margin-top: 14px;
    font-size: 16px;
    color: #249e19;
}
.btn2{
	color: #fff;
    border: none;
    background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
    border-radius: 15px;
    cursor: pointer;
    width: 236px;
    height: 36px;
    text-transform: capitalize;
    margin-top: 13px;
    margin-left: 40px;
}
.left ul li a:hover{
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 28px;
	color: white;
	
}
.btn2:hover{
	background-image: linear-gradient(to right,#649bff,#649bff,#0070fa);
}
.btn:hover{
	background-image: linear-gradient(to right,#649bff,#649bff,#0070fa);
}
